@font-face {
    font-family: 'Manrope';
    src: url('@/app/fonts/manrope/Manrope-Regular.woff2') format('woff2'), url('@/app/fonts/manrope/Manrope-Regular.woff') format('woff');
    font-style: normal;
    font-display: swap;
    font-weight: 400;
}

@font-face {
    font-family: 'Manrope';
    src: url('@/app/fonts/manrope/Manrope-Bold.woff2') format('woff2'), url('@/app/fonts/manrope/Manrope-Bold.woff') format('woff');
    font-style: normal;
    font-display: swap;
    font-weight: 700;
}