$light: #FFF;
$primary-200: #C2F0EE;
$primary-300: #65A19E;
$primary-350: #53D9D3;
$primary-400: #2DC2BB;
$primary-500: #1DB0A9;
$primary-600: #169A94;
$primary-binotel: #20B2AA;
$primary-binotel-900: #084542;
$secondary-100: #E9E8EE;
$dark-100: #F5F4F8;
$dark-200: #D0D5DD;
$dark-300: #65A29E;
$dark-500: #494A52;
$danger-100: #FEE2E2;
$danger-400: #F87171;
$success: #5AD69A;
$error: #EF4444;
$overlay-bg-color: rgba(83, 217, 211, .7);