@mixin hide-scrollbar() {
    &::-webkit-scrollbar {
        display: none;
    }
}

@mixin text-line-overflowed {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin text-line-overflowed-multiple($quantity) {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: $quantity;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

@mixin vertical-scrollbar {
    &::-webkit-scrollbar {
        width: 4px;
    }

    &::-webkit-scrollbar-track {
        background: #302D2B;
    }

    &::-webkit-scrollbar-thumb {
        background: #755D39;
        border: 1px solid #302D2B;
    }
}